/*** BASE CONFIG ***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* font-family: "Lora", serif; for Titles */
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ol,
ul {
  list-style: none;
}

/**/

/*** AUXILIARY CLASSES ***/
.center {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 13%;
}

.clear {
  clear: both;
  /*evitar conflito no site*/
}

.w50 {
  width: 50%;
  float: left;
}

/**/

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 240px 0;
}
