.testimonialPage {
  margin-top: 5%;
  margin: 0 auto;
}

h1.testimonialPage-heading {
  color: #202020;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  font-family: "Lora", serif;
}
