.testimonialPage {
  margin-top: 10%;
  margin-bottom: 5%;
  margin: 0 auto;
}

h1.testimonialPage-heading {
  color: #202020;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  font-family: "Lora", serif;
  
}

@media screen and (max-width: 768px) {
  h1.testimonialPage-heading {
    margin: 20% 0 2% 0;
  }
}
