/*** About Intro ***/

  section.about-time img {
    width: 100%;
    margin: 20% auto;
  }
  
  .time-about-text h2 {
    font-size: 45px;
    color: #202020;
    padding: 0 20px;
    font-family: "Lora", serif;
  }
  
  .time-about-text p {
    font-size: 16px;
    line-height: 30px;
    color: #202020;
    padding: 20px;
  }
  
/**/

/*** About Img ***/
  section.about-images {
    padding: 2rem 0;
    background-color: #d3e5f3;
  }
  
  .about-images > .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .about-image  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imgAbout {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
  }

  .about-images .image-about {
    padding: 0 30px;
    width: 25%;
  }
/**/

  @media screen and (max-width: 768px) {
    section.about-time {
      margin: 0 auto;
      margin-top: 25%;
    } 

    section.about-images {
     display: none;
    }

   
  }